* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 12px;
}
.header {
  width: 800px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
}

.header > div {
  flex-grow: 1;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav ul > li {
  margin-right: 30px;
  font-size: 1.2rem;
  position: relative;
  padding: 5px 0;
  font-weight: 600;
}

.nav ul > li:last-child {
  margin-right: 0;
}

.nav ul > li::after {
  content: "";
  border-bottom: 3px solid rgb(163, 161, 161);
  left: 50%;
  right: 50%;
  position: absolute;
  bottom: 0;
}

.nav ul > li:hover::after {
  transition: 0.3s;
  left: 0;
  right: 0;
}

.nav a {
  display: block;
}
.nav a:hover {
  color: rgb(122, 122, 190);
  transition: 0.3s;
  transform: translateY(-5px);
}
.nav a::before {
  content: "adsdad";
  display: block;
  text-align: center;
}

.footer {
  background: white;
  height: 100px;
}
.footer-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer > .container {
  width: 800px;
  margin: auto;
}
.top {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 15px;
  background: black;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.join-us {
  height: 100vh;
  background-image: url(../imgs/banner.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.join-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.336);
  width: 100%;
  height: 100%;
}

.join-us-content {
  width: 800px;
  background: rgba(79, 79, 163, 0.76);
  color: white;
  border-radius: 10px;
  display: flex;
  padding: 20px;
}
.join-us-left {
  width: 100%;
  position: relative;
}

.sologan {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.join-us-left .text {
  color: white;
  line-height: 2;
  font-size: 15px;
  padding-right: 20px;
}

.join-us-left::after {
  content: "";
  border-right: 5px dashed white;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2.5px;
}
.join-us-right {
  width: 100%;
  z-index: 1;
}
.join-us-form > div {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 20px;
}
.join-us-form input[type="text"] {
  padding: 10px 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.join-us-form button {
  font-size: 20px;
  padding: 5px 10px;
  background: rgb(94, 104, 201);
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.flow {
  background: wheat;
  width: 100%;
  height: 80vh;
  padding: 10px 0;
  background-image: url(../imgs/process.jpeg);
  background-size: cover;
  position: relative;
}
.flow::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.336);
  top: 0;
  left: 0;
  position: absolute;
}
.flow > .container {
  width: 800px;
  margin: auto;
  height: 100%;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

.flow .componet {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.flow .componet::after {
  content: "";
  border: 2px dashed rgb(255, 255, 255);
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 1px;
}

.flow .ball {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: yellowgreen;
  position: relative;
  left: 50%;
  margin-left: -10px;
}

.flow .flow-content {
  width: 200px;
  height: 100px;
  background: wheat;
  border-radius: 5px;
  padding: 10px;
}
.flow .flow-content > .title {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
